@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf)
}

:root {
    --bkgrnd-color-light: #f7f7f7;
    --btn-color: #596D48;
    --input-border-color: #E5E7EB;
    --ff: "Norse Bold";
    --ff-second: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: var(--ff-second);
    margin: 0;
    padding:0;
}

body {
    display: flex;
    background-color: var(--bkgrnd-color-light);
}
.left-section {
    position: relative;
}

.left-section > img {
    height: 100vh;
    width: auto;
}

.site-name {
    font-family: var(--ff);
    color: white;
    font-size: 5em;
}

.image-text {
    position: absolute;
    top: 192px;
    opacity: 0.7;
    padding: 16px 264px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
}

a {
    text-decoration-line: none;
    color: #fafafa;
}

.credits {
    position: absolute;
    bottom: 2em;
    color: #fafafa; 
    left: 200px;
}

.right-section p {
    font-size: 2rem;
    font-weight: 700;
    padding: 3em 2em 2em 2em;
    line-height: 1.2;
}

.formlayout {
    background-color: white;
    padding: 1em 0 2em 4em;
    box-shadow: 0px 10px 10px -10px #000000;
}

.card-header {
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: .8em;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    font-size: .8rem;
    font-weight: 600;
    opacity: .8;
    gap: 5em;
    margin-bottom: 1.5em;
}
.row div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.row div label {
    opacity: 0.8;
}

input {
    font-size: 1.1rem;
    font-weight: 500;
    height: 2.2em;
    width: 20em;
    border-radius: .4em;
    border:1px solid var(--input-border-color);
    padding: .2em 1em;
}

input[type="password"]:valid {
    border:1px solid blue;
}

input[type="password"]:invalid {
    border:1px solid red;
}

button {
    background-color: var(--btn-color);
    color: white;
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5em;
    border-style: none;
    margin: 2em 0 1em 4em;
    box-shadow: 0px 10px 13px -7px #000000;
}


button:hover {

    cursor: pointer;
}
.account-text {
    margin: 1em 0 1em 4em;
    font-weight: 600;
}

.account-text a {
    color: var(--btn-color);
    font-weight: 600;
}

.account-text a:hover {
    text-decoration-line:underline ;
}